body {
  padding: 50px;
}

// a {
//   color: #00B7FF;
// }

.login {
  margin: auto;
  padding: 20px;
  background: none;
  text-align: center;
  color: #2f4154;

  input {
    margin: auto;
  }

  button {
    border: none;
    color: #fff;
  }

  h3 {
    color: #2f4154;
  }
}
