extends layout

block content
  .container
    h1 Current Users
    ul
      each user in users
        a(href="/users/#{user._id}")
          li= user.name.first + " " + user.name.last
    a(href="/users/add").btn.btn-success Click here to make an account.
    a(href="#").btn.btn-warning Click here to make a buffer without an account.
