<h4><buffer-name buffer="buffer"></buffer-name></h4>
<ul>
  <li 
  ng-repeat="compound in buffer.compounds"> 
    {{compound.amount}} grams of {{compound.value.formula}}
  </li>
</ul>
<form class="form-inline" ng-repeat="compound in buffer.compounds">
  <div class="form-group">
    <label for="compound">compound formula</label>
    <input ng-model="compound.value.formula" type="text" name="compound" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="concentration">concentration number</label>
    <input ng-model="compound.concentration.value" type="text" name="concentration" class="form-control"/>
    <label for="concentration">units</label>
    <input ng-model="compound.concentration.units" type="text" name="concentration" class="form-control"/>
  </div>
</form>
